.DS_Store
.cache
.txt
.env
# VuePress default temp directory
.vuepress/.temp
# VuePress default cache directory
.vuepress/.cache
# VuePress default build output directory
.vuepress/dist
npm-debug.log
Thumbs.db
node_modules/